.account-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
 
  .account-tab__item {
    padding: 4px 8px;

    &.active {
      border-bottom: 1px solid #3DCBB1;
    }
  }
}
